<?xml version="1.0"?>
<!--
 / Copyright (c) Ironcart (https://ironcart.dev)
 / Licensed under MIT.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="IronCart_Scan::scan"
                          title="Ironcart Scan"
                          translate="title"
                          sortOrder="100">
                    <resource id="IronCart_Scan::view"
                              title="View scan reports"
                              translate="title"
                              sortOrder="10"/>
                    <resource id="IronCart_Scan::run"
                              title="Run scans"
                              translate="title"
                              sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
