<?xml version="1.0"?>
<!--
 / Copyright (c) Ironcart (https://ironcart.dev)
 / Licensed under MIT.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="IronCart_Scan" setup_version="1.1.0"/>
</config>
